<%- include('../partials/header') %>

<section id="show-page">
  <div>Name: </div>
  <div><%= character.name %></div>
  <div>Race: </div>
  <div><%= character.race %></div>
  <div>Class: </div>
  <div><%= character.class %></div>
</section>
  
<%- include('../partials/footer') %>
